.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  grid-template-rows: repeat(3, auto); /* 3 рядки */
  gap: 10px; /* Відстань між картками */
  padding-top: 15px;
  margin: 0;
  list-style: none; /* Видаляємо маркери списку */
  & li {
    box-shadow: 4px 4px 0px 0px lightpink;
  }
}
